<!doctype html>

<html lang="{{ lang|default('en') }}" dir="{{ dir|default('ltr') }}">

<head>

  <meta charset="utf-8">

  <title>{{ title|default('') }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="{{ asset('css/fonts.css') }}"/>
  <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
  <link rel="icon" href="{{ asset('images/logo.svg') }}" sizes="any" type="image/svg+xml"/>

  <script defer src="{{ asset('js/main.bundle.js') }}"></script>

  {{ patternLabHead|raw }}

</head>

<body>
