<!doctype html>

<html lang="{{ lang|default('en') }}" dir="{{ dir|default('ltr') }}">

<head>

  <meta charset="utf-8">

  <title>{{ title|default('') }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="../../css/all.css?{{ cacheBuster }}"/>

  <script defer src="../../js/main.bundle.js?{{ cacheBuster }}"></script>

  {{ patternLabHead|raw }}

</head>

<body>
